

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue";
  background-color: #f4f4f5;
  
}

body > div {
  margin: auto;
}

/* ======= Buttons ======== */

/* Block */
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 48px;
  border-radius: 50px;
  cursor: pointer;
  min-width: 120px;
  transition: opacity 0.2s ease;
  user-select: none;
  box-sizing: border-box;
}

/* Modifier */
.btn--size-l {
  padding: 16px 56px;
}

.btn--size-s {
  padding: 8px 32px;
}

.btn:hover {
  opacity: 0.8;
}

.btn + .btn {
  margin-left: 16px;
}

.btn--success {
  background-color: #71be34;
}

.btn--warn {
  background-color: #ffb702;
}

.btn--danger {
  background-color: #ff623d;
}




#toast1{
    position: fixed;
    top: 32px;
    right: 32px;
}

.toast1{
    background: #fff;
    max-width: 400px;
    min-width: 350px;
    display: flex;
    border-left: 4px solid #71be34;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    

}
@keyframes messSlip {
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut{
    to {
        opacity: 0;
    }
}
.toast1 + .toast1 {
    margin-top: 20px;
}
.toast1--success{
    border-color: #71be34;
}
.toast1--success .toast1__icon{
    color: #71be34;
}
.toast1--info{
    border-color: #2f86eb;
}
.toast1--info .toast1__icon{
    color: #2f86eb;
}
.toast1--warning{
    border-color: #ffc021;
}
.toast1--warning .toast1__icon{
    color: #ffc021;
}

.toast1--fail{
    border-color: #ff623d;
}
.toast1--fail .toast1__icon{
    color: #ff623d;
}

.toast1__icon{
    display: flex;
    padding: 0 16px;
    font-size: 28px;
    color: #71be34;
}
.toast1__bodyMess{
    padding: 7px 20px ;
    flex: 1;
    margin-top: -6px;
}
.toast1_title{
    font-size: 19px;
    font-weight: 600;
    color: #333;

}
.toast1_msg{
    font-size: 14px;
    color: #333;
    margin-top: -10px ;
}
.toast1__close{
    padding: 0 16px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
